{% extends "base_generic.html" %}
{% load render_bundle from webpack_loader %}
{% load i18n lazysignup_tags %}

{% block title %}{% trans "Dashboard" %}{% endblock %}

{% block head %} 

<script type="text/javascript" src="{% url 'dashboard-catalog' %}"></script>
<script type="text/javascript">
	window._sharedData = {"profile": {{ data|safe }}}
</script>

{% endblock %}

{% block css %}{% render_bundle 'resify__dashboard' 'css' %}{% endblock %}

{% block content %}
	{{request.user}}
	<div id="dashboard"></div>
	
	<!-- {% if not user|is_lazy_user %}
		<li><a href="">{% trans "Log Out" %}</a></li>
	{% else %}
	    <li><a href="{% url 'lazysignup_convert' %}">Save your data</a>
	{% endif %}
	 -->
	
{% endblock %}

{% block scripts %}
{% render_bundle 'resify__dashboard' 'js' %}
{% endblock %}