{% load render_bundle from webpack_loader %}
{% load i18n lazysignup_tags %}
{% get_current_language as LANGUAGE_CODE %}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> 
<html lang="{{LANGUAGE_CODE}}">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<title>R&#233;sify | {% block title %}{% endblock %}</title>
	<meta http-equiv="X-UA-Compatible" content="chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
	<meta name="author" content="Michael Rhyndress">
	{% block head %}{% endblock %}
	
	{% render_bundle 'base_generic' 'css' %}
	{% block css %}{%endblock%}
</head>
<body>
	{% block content %}{% endblock %}
	{% render_bundle 'base_generic' 'js' %}
	{% block scripts %}{% endblock %}
</body>