$color-dark-black: #1f2126;
$color-light-black: #333;
$color-dark-gray: #5555f3;
$color-light-gray: #BABABA;
$color-white: #fff;
$color-deep-blue: #3f8aff;


//Aliases
$color-black: $color-dark-black;