@import "./partials/color-vars";
@import "./font-awesome-sass/font-awesome";

html {
	overflow: hidden;
}
body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: $color-light-black;
    background-color: $color-white;
}